<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <style>
    h1{
    text-align:center; font-family:times;
    color:DarkSlateGrey;
    }
    h2{
    text-align:center;
    color:red;
    }
    form{
            text-align:center;
        }

    </style>
</head>
<body style="background-color:GreenYellow">
<h1>LOGIN</h1>
</head>
<form action="login" method="post">
    {% csrf_token %}
    <label>User Name:&nbsp&nbsp<input type="text" name="username" size="22"></label><br><br>
     <label>Password:&nbsp&nbsp&nbsp<input type="password" name="password" size="22"></label><br><br>
     <input type="Submit">
</form>
{% for i in messages %}
<h2>{{i}}</h2>
{% endfor %}
</body>
</html>